footer {

  background-color: $Color__Footer__Background;
  padding: 40px;


  h1 {
    font-family: $Police__Primary;
    color: white;
    font-size: 1em;
    margin-bottom: 2em;
    margin-top: 2em;
    font-weight: normal;
    letter-spacing: 1px;
  }

  .list-footer {

    margin-left: 2em;
    margin-block-end: 0px;

    &__element {

      color: white;
      font-family: $Police__Secondary;
      font-size: 1em;
      margin-top: 0.6em;
      margin-bottom: 0.6em;

      padd
      &__icon {
        font-size: 2.5em;
      }
    }

  }

  .list-footer-2 {
    list-style-type: none;
    padding-inline-start: 0px;
    margin-block-start: 0px;

    h5 {
      font-size: 1em;
      font-weight: normal;
      margin-block-start: 0px;
      margin-block-end: 0px;
    }
  }
}