.menu{
  background-color:$color-background;
  margin-top:-20%;
  border-radius:70px 70px 0 0;
  z-index:2;
  position:relative;
  padding-left:1em;
  padding-right:1em;

  &__top{

    position:relative;

    &__title{
      padding-top:40px;
      padding-left:20px;
      font-family: $font-family-primary;
      font-size:4.5em;


    }

    &__icon{
      &__empty{
        font-weight:normal;
        color:dimgray;
        background-color:$color-background;
        z-index:2;
        opacity:1;
        transition: opacity 250ms;

        &:hover, &:active{
          opacity:0;
        }
      }

      &__full{
        background: -webkit-gradient(linear, left top, left bottom, from($color-secondary), to($color-primary));
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        z-index:1;
      }

      position:absolute;
      right:30px;
      bottom:25px;
      font-size:2.6em;
      width:70px;
    }
  }
}

.entrees, .dishes, .desserts{
  &__title{
    text-transform: uppercase;
    position: relative;
    font-family:$font-family-secondary;
    margin : 10% 0 5% 0;
    z-index:1;
    display:block;
    font-size:2em;

    &:after{
      content: "";
      border-bottom: 8px solid $color-tertiary;
      position: absolute;

      top: 30px;
      left: 0;
      height: 50%;
      width: 110px;
    }

  }
}

.list-dishes {
  list-style:none;
  padding-inline-start:0;
}

.card-dishes{
  background-color:white;
  border-radius:40px;
  position:relative;
  box-shadow: 0 7px 30px 6px dimgrey;
  display: grid;
  grid-template-columns: 84% 16%;
  grid-template-rows: 1fr;
  grid-template-areas:
    "title zone-icon"
    "bottom zone-icon";
  margin-top:4%;
  margin-bottom:4%;
  overflow:hidden;

  &__title{
    font-family:$font-family-secondary;
    font-weight:bolder;
    font-size:1.8em;
    padding:10px 20px 0 20px;
    text-overflow:ellipsis;
    margin-block-end:0;
    grid-area: 1 / 1 / 2 / 2;


  }


  &__bottom{
    display:flex;
    grid-area: 2 / 1 / 3 / 2;
    overflow:hidden;
    padding-bottom:40px;
    width:116%;
    transform-origin:left;
    transition:width 0.5s;
  }

  &__subtitle{
    font-family:$font-family-secondary;
    font-size:30px;
    padding:0 20px 0 20px;
    text-overflow:ellipsis;
    overflow:hidden;
    white-space: nowrap;
    margin-block-start:0;
    margin-block-end:0;
    z-index: 1;

    @media only screen and (max-device-width:500px) {
      font-size:40px
    }
  }

  &__price{
    font-family:$font-family-secondary;
    font-size:2.6em;
    font-weight:bolder;
    margin-block-start:0;
    margin-block-end:0;
    text-align:right;
    margin-right:30px;
    margin-left:auto;
    padding-left:30px;
  }

  &__zone-icon{
    background-color:$color-tertiary;
    grid-area: 1 / 2 / 3 / 3;
    border-radius : 0 40px 40px 0;
    z-index:2;
    display:flex;
    align-items:center;
    justify-content: center;
    transform:translateX(100%);
    transition:transform 0.5s;
    transform-origin:right;
  }

  &__icon-check{
    text-align:center;
    color:white;
    font-size:3em;
    transform:rotate(0deg);
    transition:transform 0.8s;
    margin-left:45px;
  }

  &:hover > .card-dishes__zone-icon{
    transform:translateX(0%);
    width:100%;
    > i{
      transform:rotate(360deg);
    }
  }

  &:hover >.card-dishes__bottom{
    width:100%;
  }

}

.button--menu{
  padding:30px 120px 30px 120px;
  margin:7% 0 12% 25%;
  width:50%;
}