.menu{
  background-color:$color-background;
  margin-top:-32%;
  border-radius:70px 70px 0 0;
  z-index:2;
  position:relative;
  padding-left:4%;
  padding-right:4%;

  &__top{

    position:relative;

    &__title{
      padding-top:8%;
      padding-left:6%;
      font-family: $font-family-primary;



    }

    &__icon{
      &__empty{
        font-weight:normal;
        color:dimgray;
        background-color:$color-background;
        z-index:2;
        opacity:1;
        transition: opacity 250ms;

        &:hover, &:active{
          opacity:0;
        }
      }

      &__full{
        background: -webkit-gradient(linear, left top, left bottom, from($color-secondary), to($color-primary));
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        z-index:1;
      }

      position:absolute;
      right:3%;
      bottom:9%;
      font-size:1.5em;
    }
  }
}

.entrees, .dishes, .desserts{
  &__title{
    text-transform: uppercase;
    position: relative;
    font-family:$font-family-secondary;
    margin : 10% 0 8% 0;
    z-index:1;
    display:block;
    font-size:1em;

    &:after{
      content: "";
      border-bottom: 3px solid $color-tertiary;
      position: absolute;

      top: 14px;
      left: 0;
      height: 50%;
      width: 40px;
    }

  }
}

.list-dishes {
  list-style:none;
  padding-inline-start:0;
}

.card-dishes{
  background-color:white;
  border-radius:20px;
  position:relative;
  box-shadow: 0 6px 10px 3px dimgrey;
  display: grid;
  grid-template-columns: 84% 16%;
  grid-template-rows: 1fr;
  grid-template-areas:
    "title zone-icon"
    "bottom zone-icon";
  margin-top:5%;
  margin-bottom:5%;
  overflow:hidden;

  animation: fadeIn 0.7s ease-in both, top 0.5s linear;
  &:nth-of-type(1){
    animation-delay:3s;
  }
  &:nth-of-type(2){
    animation-delay:3.1s;
  }
  &:nth-of-type(3){
    animation-delay:3.2s;
  }

  &__title{
    font-family:$font-family-secondary;
    font-weight:bolder;
    font-size:1em;
    padding:5px 20px 0 20px;
    text-overflow:ellipsis;
    margin-block-end:0;
    grid-area: 1 / 1 / 2 / 2;


  }


  &__bottom{
    display:flex;
    grid-area: 2 / 1 / 3 / 2;
    overflow:hidden;
    padding-bottom:20px;
    width:116%;
    transform-origin:left;
    transition:width 0.5s;
  }

  &__subtitle{
    font-family:$font-family-secondary;
    font-size:0.8em;
    padding:0 20px 0 20px;
    text-overflow:ellipsis;
    overflow:hidden;
    white-space: nowrap;
    margin-block-start:0;
    margin-block-end:0;
    z-index: 1;
    font-weight:normal;

  }

  &__price{
    font-family:$font-family-secondary;
    font-size:1em;
    font-weight:bolder;
    margin-block-start:0;
    margin-block-end:0;
    text-align:right;
    margin-right:30px;
    margin-left:auto;
    padding-left:30px;
  }

  &__zone-icon{
    background-color:$color-tertiary;
    grid-area: 1 / 2 / 3 / 3;
    border-radius : 0 20px 20px 0;
    z-index:2;
    display:inline-flex;
    align-items:center;
    justify-content: center;
    transform:translateX(100%);
    transition:transform 0.5s;
    transform-origin:right;
  }

  &__icon-check{
    color:white;
    font-size:1.5em;
    transform:rotate(0deg);
    transition:transform 0.8s;
    margin-left:50%
  }

  &:hover > .card-dishes__zone-icon{
    transform:translateX(0%);
    width:100%;
    > i{
      transform:rotate(360deg);
    }
  }

  &:hover >.card-dishes__bottom{
    width:100%;
  }

}

.button--menu{
  padding:3%;
  margin:7% 25% 12% 25%;
  width:50%;
}