.thumbnail-new-restaurant{
  padding:5px 10px 5px 10px;

  margin:5px;

  background-color:$color-tertiary;
  color:scale-color($color-tertiary, $lightness: -60% );

  font-family:$font-family-secondary;
  font-weight:bolder;
}