.thumbail-new-restaurant{
  padding:5px;

  margin:5px;

  background-color:$Color__Tertiary;
  color:scale-color($Color__Tertiary, $lightness: -60% );

  text-decoration:none;

  font-family:$Police__Secondary;
  font-size:2.5em;
}