.thumbail-new-restaurant{
  padding:10px 20px 10px 20px;

  margin:5px;

  background-color:$color-tertiary;
  color:scale-color($color-tertiary, $lightness: -60% );

  text-decoration:none;

  font-family:$font-family-secondary;
  font-size:2em;
  font-weight:bolder;
}