.card-restaurant{
  height:40vh;
  margin-bottom:5%;
  border-radius:20px;
  width:100%;
  background-color:white;
  position:relative;
  box-shadow: 0 7px 20px 6px dimgrey;

  @media all and (min-width : 768px){
    margin-bottom:2%;
    height:70vh
  }




  @for $i from 1 through length($restaurant-images-list) {

  &__image__#{$i} {
    @include restaurant-images(map-get($restaurant-images-list, $i));
  }
  }

  &:hover{
    transform: scale(1.01);
  }

  &__text-zone{
    position:relative;
    height:30%;


    &__title{
      position: absolute;
      left:4%;
      top:20%;
      color:black;
      font-weight: bolder;
      font-family:$font-family-secondary;
      font-size:1.2em;
      margin-block-start:0;
      margin-block-end:0;

      @media all and (min-width:768px){
        font-size:1.8em;
        left:2%
      }
    }

    &__subtitle{
      text-decoration:none;
      position: absolute;
      top:55%;
      left:4%;
      color:black;
      font-family:$font-family-secondary;
      font-size:1em;
      font-weight:normal;
      margin-block-start:0;
      margin-block-end:0;

      @media all and (min-width:768px){
        font-size:1.5em;
        left:2%;
      }
    }

    &__icon{
      &__empty{
        font-weight:normal;
        color:dimgray;
        background-color:white;
        z-index:4;
        opacity:1;
        transition: opacity 250ms;

        &:hover, &:active{
          opacity:0;
        }
      }

      &__full{
        background: -webkit-gradient(linear, left top, left bottom, from($color-secondary), to($color-primary));
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        z-index:3;
      }

      position:absolute;
      right:0;
      bottom:10%;
      font-size:1.5em;

      @media all and (min-width:768px){
        font-size:3em;
        right:2%;
      }
    }
  }

  &__thumbail{
    position:absolute;
    top:4%;
    right:3%;

    @media all and (min-width:768px){
      font-size:2em;
      right:2%
    }
  }


}